@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.        */
/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
HOMEBASE.GRID.CSS : GRID SETUP
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Content Wrappers
-----------------------------------------------
/////////////////////////////////////////////// */
body                                          { overflow-x:hidden; }

#app-menu                                     { height:100%; overflow:hidden; position:fixed; top:0; width:0; z-index:9999; }
                                                /* A mobile-friendly menu section that sits inline-block next to the .wrapper
                                                   !!! There is usually only one app-menu per page */

.wrapper                                      { margin:0; position:relative; overflow:hidden; text-align:left; vertical-align:top; left:0; width:100%; }
                                                /* The .wrapper defines the overall boundary of the site. All content appears inside the .wrapper
                                                   !!! There is usually only one .wrapper per page */

.section                                      { margin:0; position:relative; padding-left:20px; padding-right:20px; vertical-align:top; }
                                                /* The .section defines an area of the site with it's own functionality, i.e.: Header Section, Navi Section, Content Section, Footer Section 
                                                   The .section always has 20 pixels of padding-left and right for mobile views. Good for content sections where text shouldn't touch screen edge.
                                                   !!! There must be at least one .section per .wrapper */

.section_full                                 { margin:0; position:relative; vertical-align:top; width:100%; }
                                                /* An optional .section without any padding on the sides. Good for things like Sliders that need to be flush with the screen edge. */

.row                                          { margin:0 auto; position:relative; vertical-align:top; max-width:1000px; zoom:1; }
                                                /* The .row defines a horizontal space in which .col_0X are inserted to organize content.
                                                   !!! There must be at least one .row per .section */

.row:after                                    { display:block; clear:both; content:"."; font-size:0; height:0; visibility:hidden; }
                                                /* We apply a clearfix here to stop the floats from messing everything up */


/* Gutterless Grids
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-none .col_06                             { float:left; margin:0; position:relative; vertical-align:top; width:100%; }
.gut-none .col_04                             { float:left; margin:0; position:relative; vertical-align:top; width:66.666%; }
.gut-none .col_03                             { float:left; margin:0; position:relative; vertical-align:top; width:50%; }
.gut-none .col_02                             { float:left; margin:0; position:relative; vertical-align:top; width:33.333%; }
.gut-none .col_01                             { float:left; margin:0; position:relative; vertical-align:top; width:16.666%; }


/* Gutter Grids
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-side .col_06                             { float:left; margin-left:2%; position:relative; vertical-align:top; width:100%; }
.gut-side .col_04                             { float:left; margin-left:2%; position:relative; vertical-align:top; width:66%; }
.gut-side .col_03                             { float:left; margin-left:2%; position:relative; vertical-align:top; width:49%; }
.gut-side .col_02                             { float:left; margin-left:2%; position:relative; vertical-align:top; width:32%; }
.gut-side .col_01                             { float:left; margin-left:2%; position:relative; vertical-align:top; width:15%; }
.gut-side .row > [class^="col_0"]:first-child { margin-left:0; }
                                                /* Removes left margin from first .col_0X of each .row */


/* Top Gutters
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-top [class^="col_0"]                    { margin-top:2%; }
.gut-top-20 [class^="col_0"]                 { margin-top:20px; }
.gut-top-40 [class^="col_0"]                 { margin-top:40px; }


/* Bottom Gutters
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-bot [class^="col_0"]                    { margin-bottom:2%; }
.gut-bot-20 [class^="col_0"]                 { margin-bottom:20px; }
.gut-bot-40 [class^="col_0"]                 { margin-bottom:40px; }


/*
Nest grids for reference~
.col_06 > .col_03                            { margin:0 0 0 2%; width:49%; }
.col_04 > .col_02                            { margin:0 0 0 3.030303030303030303030303030303%; width:48.484848484848484848484848484848%; }
.col_04 > .col_01                            { margin:0 0 0 3.030303030303030303030303030303%; width:22.727272727272727272727272727273%; }
.col_03 > .col_01                            { margin:0 0 0 4.081632653061224489795918367347%; width:30.612244897959183673469387755102%; }
.col_02 > .col_01                            { margin:0 0 0 6.25%; width:46.875%; }
*/
