/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
BASE DEFAULTS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                             { box-sizing: border-box; }
*, *:before, *:after                             { box-sizing: inherit; }

::selection                                      { background-color:$def-font-highlight; text-shadow:none; }
                                                   /* Custom background color for highlighted text, also removes text-shadow */

img                                              { display:block; max-width:100%; }
                                                   /* Responsive images */

audio,canvas,iframe,
img,svg,video                                    { vertical-align:middle; }
                                                   /* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers */

ol,ul                                            { list-style-position:inside; list-style-type:none; }
                                                   /* Removes default list styles */

html,blockquote,body,div,ol,ul,iframe,
header,nav,section,aside,footer,
h1,h2,h3,h4,h5,h6,p,blockquote,
button,fieldset,input,label,select,textarea      { display:block; border:0; margin:0; outline:0; padding:0; vertical-align:top; }
                                                   /* Removes default styles, normalize alignment for commonly used elements */

button,input,select,textarea                     { width:100%; }
                                                   /* Makes forms much easier to style */

textarea                                         { resize:vertical; }
                                                   /* Allow only vertical resizing of textareas. */

label                                            { cursor:pointer; }
                                                    /* Indicates labels should be clicked on */

fieldset                                         { border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; padding:rem($def-padding); margin-bottom:rem($def-margin); }
                                                   /* Better default fieldset */

hr                                               { display:block; height:1px; border:0; border-top:1px solid $def-border-color; margin:1em 0; padding:0; }
                                                   /* Better default horizontal rule */

span.amp                                         { font-family:Baskerville,"Palatino Linotype",Times New Roman,serif; font-style:italic; font-weight:400; line-height:normal; }
                                                   /* Styles ampersands to appear badass. */
                                                   /* Reference: http://simplebits.com/notebook/2008/08/14/ampersands-2/ */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
TYPOGRAPHY DEFAULTS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
html                                             { color:$def-font-color; font-family:$def-font-family; font-size:$def-font-scale; font-style:$def-font-style; font-weight:$def-font-weight; }
                                                   /* Default global font-styling */

blockquote                                       { font-size:em($def-font-size); line-height:$def-line-height; }
                                                   /* Default blockquote font-styling */

p                                                { font-size:em($def-font-size); line-height:$def-line-height; }
                                                   /* Default paragraph font-styling */

a                                                { color:$def-anchor-color; text-decoration:$def-anchor-deco; }
a *                                              { transition: $def-transition; }
a:hover                                          { color:$def-anchor-hover; }
a:active                                         { }
a:visited                                        { }
a .fa                                            { color: $def-anchor-color; }
a:hover .fa                                      { color: $def-anchor-hover; }
                                                   /* Default anchor font-styling */

h1                                               { color:$def-header-color; font-size:em($def-h1-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h2                                               { color:$def-header-color; font-size:em($def-h2-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h3                                               { color:$def-header-color; font-size:em($def-h3-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h4                                               { color:$def-header-color; font-size:em($def-h4-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h5                                               { color:$def-header-color; font-size:em($def-h5-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
h6                                               { color:$def-header-color; font-size:em($def-h6-size); font-family:$def-font-family; font-style:$def-header-style; font-weight:$def-header-weight; line-height:1; }
                                                   /* Default header font-styling */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
FORM DEFAULTS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
$input-height: rem(50px);

form                                             { background-color:$white; border-radius:$def-border-radius; padding:rem($def-padding); }
form > *:last-child                              { margin-bottom: 0; }

form > div                                       { @extend %clearfix; display:block; position:relative; }
form > div > span                                { float:left; margin-left:2%; margin-bottom:rem($def-margin); position:relative; width:100%; }
form > div > span.c_03                           { width:49%; }
form > div > span.c_02                           { width:32%; }
form > div > span:first-child                    { margin-left:0; }
form > div:last-child > span                     { margin-bottom:0; }

label                                            { font-size:em($def-font-size); padding-bottom:rem($def-margin / 2); }

button,
input                                            { background-color:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); line-height:$input-height; min-height: $input-height; padding:0 rem(15px); transition: $def-transition; }

button:focus,
input:focus                                      { background-color:rgba(0,0,0,0.05); }

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover                       { background-color:rgba(0,0,0,0.05); }

textarea                                         { background-color:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); padding:rem(15px); min-height:rem(100px); transition: $def-trans-time background $def-trans-func; }
textarea:focus                                   { background-color:rgba(0,0,0,0.05); }

select                                           { background-color:transparent; border:$def-border-size solid $def-border-color; border-radius:$def-border-radius; font-size:em($def-font-size); height:$input-height; min-height: $input-height; padding:0 rem(15px); }
select                                           { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
select ::-ms-expand                              { display:none; }
option                                           { padding:0; margin:0; }
