/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
MEDIA QUERY SETUP
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Smartphones
-----------------------------------------------
//////////////////////////////////////////////// */
@media (max-width:em(480px)) {
	.full {
		display: none;
	}

	.mobi {
		display: block;
	}

	/* Mobile Nav */
	.mobile-nav--btn {
		display:block;
	}
	.mobile-nav--body {
		display:block;
	}

	html {
		font-size: 1em;
	}

	section.main [class^="col_"] {
		width: 100%;
		margin: 0;
	}

	footer [class^="col_"] {
		width: 100%;
		margin: 0;
	}
}
/* Portrait Tablets
-----------------------------------------------
//////////////////////////////////////////////// */
@media (min-width:em(480px)) and (max-width:em(768px)) {
	.full {
		display: none;
	}

	.mobi {
		display: block;
	}

	/* Mobile Nav */
	.mobile-nav--btn {
		display:block;
	}
	.mobile-nav--body {
		display:block;
	}

	html {
		font-size: 1em;
	}

	section.main [class^="col_"] {
		width: 100%;
		margin: 0;
	}

	footer [class^="col_"] {
		width: 100%;
		margin: 0;
	}
}
/* Landscape Tablets
-----------------------------------------------
//////////////////////////////////////////////// */
@media (min-width:em(768px)) and (max-width:em(979px)) {
	.full {
		display: block;
	}

	.mobi {
		display: none;
	}

	html {
		font-size: 1em;
	}
}
/* Default
-----------------------------------------------
//////////////////////////////////////////////// */
@media (min-width:em(980px)) {
	.full {
		display: block;
	}

	.mobi {
		display: none;
	}

	html {
		font-size: 1em;
	}
}
/* Print
-----------------------------------------------
//////////////////////////////////////////////// */
@media print {
	*,
	*:after,
	*:before {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	blockquote,
	pre {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}

	img,
	tr {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	h2,
	h3,
	p {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
