/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
MIXINS.SCSS
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/**
 * Applies absolute position to an element
 *
 * @param  top     The top offset value, normally defaults to auto
 * @param  right   The right offset value, normally defaults to auto
 * @param  bottom  The bottom offset value, normally defaults to auto
 * @param  left    The Left offset value, normally defaults to auto
 *
 */
@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: absolute;
         top: $top;
       right: $right;
      bottom: $bottom;
        left: $left;
}


/**
 * Applies a keyframe animation to an element. Keyframes are found in keyframes.scss
 *
 * @param  name             The name of the keyframe animation
 * @param  duration         The duration of the animation: duration in seconds
 * @param  delay            The delay before the animation starts: duration in seconds
 * @param  timing-function  The type of easing to use, ex: linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n), initial, inherit
 * @param  direction        The direction of the animation: normal, reverse, alternate, alternate-reverse, initial, inherit
 * @param  fill-mode        The CSS values from the animation may be applied to the element: none, forwards, backwards, both, initial, inherit
 * @param  play-state       The default running state of the animation: paused, running, initial, inherit
 *
 */
@mixin animation($name: none, $duration: 0s, $delay: 0s, $timing-function: ease-in-out, $iteration-count: 1, $direction: normal, $fill-mode: both, $play-state: running) {
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-timing-function: $timing-function;
    animation-iteration-count: $iteration-count;
    animation-direction: $direction;
    animation-fill-mode: $fill-mode;
    animation-play-state: $play-state;
}


/**
 * A clearfix rule to be extended upon.
 *
 */
%clearfix {
    &:before,
    &:after {
        content:" ";
        display:table;
    }
    &:after {
        clear:both;
    }
}

/**
 * Applies the backface-visibility fix to an element
 *
 * @param  visiblity  Sets the backface-visibility to hidden. Prevents odd movement during CSS animations.
 *
 */
@mixin bf($visibility: hidden) {
    backface-visibility: $visibility;
}


/**
 * Applies the backface-visibility fix to an element
 *
 * @param  top     The top offset value, normally defaults to auto
 * @param  right   The right offset value, normally defaults to auto
 * @param  bottom  The bottom offset value, normally defaults to auto
 * @param  left    The Left offset value, normally defaults to auto
 *
 */
@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
    position: fixed;
         top: $top;
       right: $right;
      bottom: $bottom;
        left: $left;
}


/**
 * Removes the ability for a user to select an element
 *
 */
@mixin unselectable($select: none){
    user-select: $select;
}
