/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
SCSS VARIABLE INSTANTIATION
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
$font-stack:      'Lato', sans-serif;
$font-stack-body: 'Lato', sans-serif;
$font-stack-head: 'Lato', sans-serif;
$font-stack-navi: 'Lato', sans-serif;

$color-main: #1a749c;