@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.        */
/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
HOMEBASE.GRID.CSS : GRID SETUP
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Content Wrappers
-----------------------------------------------
/////////////////////////////////////////////// */
.wrapper                                      { margin:0 auto; position:relative; text-align:left; vertical-align:top; }
                                                /* The .wrapper defines the overall boundary of the site. All content appears inside the .wrapper
                                                   !!! There is usually only one wrapper per page */

.section                                      { margin:0 auto; position:relative; vertical-align:top; }
                                                /* The .section defines an area of the site with it's own functionality, i.e.: Header Section, Navi Section, Content Section, Footer Section
                                                   !!! There must be at least one .section per .wrapper */

.section_long                                 { margin:0; position:relative; padding-left:20px; padding-right:20px; vertical-align:top; }
                                                /* An optional .section that is always 100% width with 20 pixels of padding on either side*/

.section_full                                 { margin:0; position:relative; vertical-align:top; }
                                                /* An optional .section that is always 100% width */

.row                                          { margin:0 auto; position:relative; vertical-align:top; max-width:1000px; }
                                                /* The .row defines a horizontal space in which .col_0X are inserted to organize content.
                                                   !!! There must be at least one .row per .section */

.row:after                                    { display:block; clear:both; content:"."; font-size:0; height:0; visibility:hidden; }
                                                /* We apply a clearfix here to stop the floats from messing everything up */

/* Gutterless Grids
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-none .col_06                             { float:left; margin:0; vertical-align:top; width:100%; }
.gut-none .col_04                             { float:left; margin:0; vertical-align:top; width:66.666%; }
.gut-none .col_03                             { float:left; margin:0; vertical-align:top; width:50%; }
.gut-none .col_02                             { float:left; margin:0; vertical-align:top; width:33.333%; }
.gut-none .col_01                             { float:left; margin:0; vertical-align:top; width:16.666%; }

/* Gutter Grids
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-side .col_06                             { float:left; margin-left:2%; vertical-align:top; width:100%; }
.gut-side .col_04                             { float:left; margin-left:2%; vertical-align:top; width:66%; }
.gut-side .col_03                             { float:left; margin-left:2%; vertical-align:top; width:49%; }
.gut-side .col_02                             { float:left; margin-left:2%; vertical-align:top; width:32%; }
.gut-side .col_01                             { float:left; margin-left:2%; vertical-align:top; width:15%; }
.gut-side .row > [class^="col_0"]:first-child { margin-left:0; }
                                                /* Removes left margin from first .col_0X of each .row */

/* Top Gutters
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-top [class^="col_0"]                    { margin-top:2%; }

/* Bottom Gutters
-----------------------------------------------
/////////////////////////////////////////////// */
.gut-bot [class^="col_0"]                    { margin-bottom:20px; }



