@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.        */
/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Main Content
-----------------------------------------------
/////////////////////////////////////////////// */
body                                          { color:#444; font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; line-height:1.125em; }

.section_full,
.section                                      { font-size:0.875em; }
                                                /* Leave the font-size in a non-body selector. */

img                                           { max-width:100%; display:block; vertical-align:bottom; }
                                                /* Responsive images. Also, fixed spacing at bottom of image sometimes. */

div,span,
ol,ol li,
ul,ul li                                      { list-style-type:none; vertical-align:top; }
                                                /* Fixes alignment issues */

p                                             { margin-bottom:1em; vertical-align:top; }
                                                /* Makes all paragraphs have 1em scaling margin on bottom. */

[class^="col_0"] p:last-child                 { margin-bottom:0; }
                                                /* Makes last paragraph in containers have 0px margin on bottom. */

h1                                            { display:block; font-size:3.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h2                                            { display:block; font-size:2.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h3                                            { display:block; font-size:2.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h4                                            { display:block; font-size:1.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h5                                            { display:block; font-size:1.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h6                                            { display:block; font-size:0.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }

span.amp                                      { font-family:Baskerville,"Palatino Linotype",Times New Roman,serif; font-style:italic; }
                                                /* Styles ampersands to appear badass. */
                                                /* http://simplebits.com/notebook/2008/08/14/ampersands-2/  for reference*/

/* Header
-----------------------------------------------
/////////////////////////////////////////////// */
#head .title                                  { color:#fff; font-style:italic; }

/* Nav
-----------------------------------------------
/////////////////////////////////////////////// */

/* Content
-----------------------------------------------
/////////////////////////////////////////////// */

/* Footer
-----------------------------------------------
/////////////////////////////////////////////// */






/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
body                                          { background:#ccc; }
.wrapper                                      { background:#ccc; }
.pad                                          { background:#fff; border-radius:5px; padding:.5em; }

#top-bar                                      { background:rgba(0,0,0,0.4); position:fixed; left:0; right:0; top:0; z-index:10; }
#top-bar .col_06                              { color:#fff; margin-top:0; padding:5px 0; text-align:center; }

/* Header
-----------------------------------------------
/////////////////////////////////////////////// */
#head h1                                      { text-align:center; }

/* Animation Examples
-----------------------------------------------
/////////////////////////////////////////////// */

.box {
	background:red;
	width:100px;
	height:100px;
}

.box:hover {
	animation-name: trans;
	animation-delay:0;
	animation-direction: normal;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease;
	animation-fill-mode: none;
}

.meow {
	opacity:0;
	color:black;
}

.box:hover .meow {
	transition:1s;
	opacity:1;
}

.fadein {
	animation-name: fadein;
	animation-delay:0;
	animation-direction: normal;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-play-state: running;
	animation-timing-function: ease;
	animation-fill-mode: none;
}

.repeat {
	animation-name: slide;
	animation-delay:0;
	animation-direction: normal;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease;
	animation-fill-mode: none;
}

.hov:hover {
	animation-name: slidein;
	animation-delay:0;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease;
	animation-fill-mode: none;
}

@keyframes slide {
	0% /* from */ {
		padding-left:0;
		opacity:0;
	}

	100% /* to */ {
		padding-left:100px;
		opacity:1;
	}
}

@keyframes slidein {
	0% /* from */ {
		padding-left:0;
		opacity:1;
	}

	100% /* to */ {
		padding-left:100px;
		opacity:0;
	}
}

@keyframes trans {
	0% /* from */ {
		transform:none;
	}

	100% /* to */ {
		transform:scale(2,2) rotate(90deg);
	}
}

@keyframes fadein {
	0% /* from */ {
		opacity:0;
		transform:translate(-100px,0);
	}

	100% /* to */ {
		opacity:1;
		transform:translate(0,0);
	}
}


/* Nav
-----------------------------------------------
/////////////////////////////////////////////// */

/* Content
-----------------------------------------------
/////////////////////////////////////////////// */

/* Footer
-----------------------------------------------
/////////////////////////////////////////////// */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - STYLE.CSS : MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Smartphones
-----------------------------------------------
/////////////////////////////////////////////// */
@media (max-width:480px)                      {

#navi [class^="col_0"]                        { margin-left:0; width:100%; }
#cont [class^="col_0"]                        { margin-left:0; width:100%; }

.smart                                        { display:auto; }
.port                                         { display:none; }
.land                                         { display:none; }
.full                                         { display:none; }

}
/* Portrait Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:480px) and (max-width:768px){

#navi [class^="col_0"]                        { margin-left:0; width:100%; }

.smart                                        { display:none; }
.port                                         { display:auto; }
.land                                         { display:none; }
.full                                         { display:none; }

}
/* Landscape Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:768px) and (max-width:979px){

.smart                                        { display:none; }
.port                                         { display:none; }
.land                                         { display:auto; }
.full                                         { display:none; }

}
/* Default
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:980px)                      {

.smart                                        { display:none; }
.port                                         { display:none; }
.land                                         { display:none; }
.full                                         { display:auto; }

}