@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.        */
/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Main Content
-----------------------------------------------
/////////////////////////////////////////////// */
body                                          { color:#444; font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; line-height:1.125em; }

.section_long,
.section                                      { font-size:0.875em; }
                                                /* Leave the font-size in a non-body selector. */

img                                           { max-width:100%; vertical-align:bottom; }
                                                /* Responsive images. Also, fixed spacing at bottom of image sometimes. */
div,span,
ul,ul li                                      { vertical-align:top; }
                                                /* Fixes alignment issues */

p                                             { margin-bottom:1em; vertical-align:top; }
                                                /* Makes all paragraphs have 1em scaling margin on bottom. */
[class^="col_0"] p:last-child                 { margin-bottom:0; }
                                                /* Makes last paragraph in containers have 0px margin on bottom. */

h1                                            { display:block; font-size:3.0em; font-family:'Asap', sans-serif; font-style:normal; font-weight:700; line-height:1.125em; font-style:normal; }
h2                                            { display:block; font-size:2.5em; font-family:'Asap', sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:italic; }
h3                                            { display:block; font-size:2.0em; font-family:'Asap', sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:italic; }
h4                                            { display:block; font-size:1.5em; font-family:'Asap', sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:italic; }
h5                                            { display:block; font-size:1.0em; font-family:'Asap', sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:italic; }
h6                                            { display:block; font-size:0.5em; font-family:'Asap', sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:italic; }

span.amp                                      { font-family:Baskerville,"Palatino Linotype",Times New Roman,serif; font-style:italic; }
                                                /* Styles ampersands to appear badass. */
                                                /* http://simplebits.com/notebook/2008/08/14/ampersands-2/  for reference*/

/* Header
-----------------------------------------------
/////////////////////////////////////////////// */
#head .title                                  { color:#fff; font-style:italic; }

/* Nav
-----------------------------------------------
/////////////////////////////////////////////// */

/* Content
-----------------------------------------------
/////////////////////////////////////////////// */

/* Footer
-----------------------------------------------
/////////////////////////////////////////////// */






/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
body                                          { background:#ccc; }
.wrapper                                      { background:#ccc; }
.pad                                          { background:#fff; border-radius:5px; padding:.5em; }

#top-bar                                      { background:rgba(0,0,0,0.4); position:fixed; left:0; right:0; top:0; z-index:10; }
#top-bar .col_06                              { color:#fff; margin-top:0; padding:5px 0; text-align:center; }

/* Header
-----------------------------------------------
/////////////////////////////////////////////// */
#head h1                                      { text-align:center; }

/* Nav
-----------------------------------------------
/////////////////////////////////////////////// */

/* Content
-----------------------------------------------
/////////////////////////////////////////////// */

/* Footer
-----------------------------------------------
/////////////////////////////////////////////// */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - STYLE.CSS : MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Smartphones
-----------------------------------------------
/////////////////////////////////////////////// */
@media (max-width:480px)                      {

#navi [class^="col_0"]                        { margin-left:0; width:100%; }
#cont [class^="col_0"]                        { margin-left:0; width:100%; }

.smart                                        { display:auto; }
.port                                         { display:none; }
.land                                         { display:none; }
.full                                         { display:none; }

}
/* Portrait Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:480px) and (max-width:768px){

#navi [class^="col_0"]                        { margin-left:0; width:100%; }

.smart                                        { display:none; }
.port                                         { display:auto; }
.land                                         { display:none; }
.full                                         { display:none; }

}

/* Landscape Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:768px) and (max-width:979px){

.smart                                        { display:none; }
.port                                         { display:none; }
.land                                         { display:auto; }
.full                                         { display:none; }

}

/* Default
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:980px)                      {

.smart                                        { display:none; }
.port                                         { display:none; }
.land                                         { display:none; }
.full                                         { display:auto; }

}