@charset "UTF-8"; /* Sets the encoding of the style sheet to Unicode UTF-8. Don't move it.        */
/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
01 - STYLE.CSS : TYPOGRAPHY
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Main Content
-----------------------------------------------
/////////////////////////////////////////////// */
body                                          { color:#444; font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; line-height:1.125em; }

.section_full,
.section                                      { font-size:0.875em; }
                                                /* Leave the font-size in a non-body selector. */

img                                           { max-width:100%; display:block; vertical-align:bottom; }
                                                /* Responsive images. Also, fixed spacing at bottom of image sometimes. */

div,span,
ol,ol li,
ul,ul li                                      { list-style-type:none; vertical-align:top; }
                                                /* Fixes alignment issues */

p                                             { margin-bottom:1em; vertical-align:top; }
                                                /* Makes all paragraphs have 1em scaling margin on bottom. */

[class^="col_0"] p:last-child                 { margin-bottom:0; }
                                                /* Makes last paragraph in containers have 0px margin on bottom. */

h1                                            { display:block; font-size:3.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h2                                            { display:block; font-size:2.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h3                                            { display:block; font-size:2.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h4                                            { display:block; font-size:1.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h5                                            { display:block; font-size:1.0em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }
h6                                            { display:block; font-size:0.5em; font-family:sans-serif; font-style:normal; font-weight:400; line-height:1.125em; font-style:normal; }

span.amp                                      { font-family:Baskerville,"Palatino Linotype",Times New Roman,serif; font-style:italic; }
                                                /* Styles ampersands to appear badass. */
                                                /* http://simplebits.com/notebook/2008/08/14/ampersands-2/  for reference*/

a                                             { color:red; }
                                                /* Default definition for all links. */

/* Misc
-----------------------------------------------
/////////////////////////////////////////////// */

/* Head
-----------------------------------------------
/////////////////////////////////////////////// */
#head .title                                  { color:#fff; font-style:italic; }

/* Navi
-----------------------------------------------
/////////////////////////////////////////////// */

/* Cont
-----------------------------------------------
/////////////////////////////////////////////// */

/* Foot
-----------------------------------------------
/////////////////////////////////////////////// */






/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
02 - STYLE.CSS : LAYOUT
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
body                                          { background:url('../img/fabric_of_squares_gray.png') repeat #f1f1f1; }

/* Misc
-----------------------------------------------
/////////////////////////////////////////////// */
.img                                          { background:#ccc; display:inline-block; overflow:hidden; }
.img img                                      { opacity:0; transition:opacity 1s; -webkit-transition:opacity 1s; -moz-transition:opacity 1s; -ms-transition:opacity 1s; }
.img.loaded img                               { opacity:1; }

.pad                                          { background:#fff; border-radius:5px; padding:.5em; }

/* Head
-----------------------------------------------
/////////////////////////////////////////////// */
#head h1                                      { text-align:center; }

/* Navi
-----------------------------------------------
/////////////////////////////////////////////// */

/* Cont
-----------------------------------------------
/////////////////////////////////////////////// */
#cont .img                                    { float:right; margin:0 0 20px 20px; }

#cont svg                                     { background:#fff; box-shadow:0 5px 50px rgba(0,0,0,0.2); margin:80px auto;
                                                animation-name:slidein;
                                                animation-fill-mode:forwards;
                                                animation-delay:0s;
                                                animation-duration:0.8s;
                                                animation-iteration-count:1;
                                                -webkit-animation:slidein;
                                                -webkit-animation-fill-mode:forwards;
                                                -webkit-animation-delay:0s;
                                                -webkit-animation-duration:0.8s;
                                                -webkit-animation-iteration-count:1; }

#cont canvas                                  { background:#fff; box-shadow:0 5px 50px rgba(0,0,0,0.2); margin:80px auto;
                                                animation-name:slidein;
                                                animation-fill-mode:forwards;
                                                animation-delay:0s;
                                                animation-duration:0.8s;
                                                animation-iteration-count:1;
                                                -webkit-animation:slidein;
                                                -webkit-animation-fill-mode:forwards;
                                                -webkit-animation-delay:0s;
                                                -webkit-animation-duration:0.8s;
                                                -webkit-animation-iteration-count:1; }

/* Foot
-----------------------------------------------
/////////////////////////////////////////////// */





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
03 - STYLE.CSS : KEYFRAMES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
@keyframes slidein {
	0% {
		opacity:0;
		transform: translate(0,50px); -ms-transform: translate(0,50px); -webkit-transform: translate(0,50px);
	}
	100% {
		opacity:1;
		transform: translate(0,0); -ms-transform: translate(0,0); -webkit-transform: translate(0,0);
	}
}

@-webkit-keyframes slidein {
	0% {
		opacity:0;
		transform: translate(0,50px); -ms-transform: translate(0,50px); -webkit-transform: translate(0,50px);
	}
	100% {
		opacity:1;
		transform: translate(0,0); -ms-transform: translate(0,0); -webkit-transform: translate(0,0); 
	}
}





/* -------------------------------------------------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////
04 - STYLE.CSS : MEDIAQUERIES
////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------------------------------------------------------------- */
/* Smartphones
-----------------------------------------------
/////////////////////////////////////////////// */
@media (max-width:480px)                      {

.mobi                                         { display:block !important; }
.full                                         { display:none !important; }

#head [class^="col_0"]                        { margin-left:0; width:100%; }
#navi [class^="col_0"]                        { margin-left:0; width:100%; }
#cont [class^="col_0"]                        { margin-left:0; width:100%; }
#foot [class^="col_0"]                        { margin-left:0; width:100%; }

}
/* Portrait Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:480px) and (max-width:768px){

.mobi                                         { display:block !important; }
.full                                         { display:none !important; }

#head [class^="col_0"]                        { margin-left:0; width:100%; }
#navi [class^="col_0"]                        { margin-left:0; width:100%; }
#cont [class^="col_0"]                        { margin-left:0; width:100%; }
#foot [class^="col_0"]                        { margin-left:0; width:100%; }

}
/* Landscape Tablets
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:768px) and (max-width:979px){

.mobi                                         { display:none !important; }
.full                                         { display:block !important; }

}
/* Default
-----------------------------------------------
/////////////////////////////////////////////// */
@media (min-width:980px)                      {

.mobi                                         { display:none !important; }
.full                                         { display:block !important; }

}